@media(max-width:768px){

section{

    padding:70px 7%;

}

#menu-icon{

display:block;

font-size:2rem;

cursor:pointer;

}

.book-btn{
    display: none;
}

.nav{
    display:none;
}


.links{
    position: absolute;

    top: 50px;

    right: 50px;

    padding: 60px;

    background:#111;

    flex-direction: column;

    border-radius: 12px;

}

.hero-content h1{

font-size:4rem;

}

.services-container{
    grid-template-columns:repeat(2,1fr);
}

.contact-container{

grid-template-columns:1fr;

}

.footer-container{

grid-template-columns:repeat(2,1fr);

}

.section-title h2{
    font-size: 2.7rem;
}

.section-title p{
    font-size: .7rem;
}

#why-us{ 
    grid-template-columns:1fr;
}

.testimonial-container{
       
    grid-template-columns: repeat(2, 1fr);
}

}


@media(max-width:576px){

section{

    padding:60px 5%;

}

.hero-content h1{

font-size:2.6rem;

}

.hero-buttons{

flex-direction:column;

}

.services-container{
    grid-template-columns:1fr;
}

.experience-grid{
    grid-template-columns:1fr;
}

.testimonial-container{
     grid-template-columns:1fr;
}

.gallery-grid{

grid-template-columns:1fr;

}

.gallery-item.tall{

grid-row:auto;

}

.gallery-item.wide{

grid-column:auto;

}

.footer-container{

grid-template-columns:1fr;

}

.section-title h2{
    font-size: 2.3rem;
}

.section-title p{
    font-size: .7rem;
}

}